@charset "UTF-8";
img {
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  font-size: 62.5%;
  font-family: M1m;
  overflow: hidden;
}

body {
  height: 100%;
  position: relative;
}

.hamburger {
  padding: 0 0 0 3%;
  color: #707070;
  font-size: 3rem;
  font-weight: bold;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-target {
  display: none;
}

#keywords1 {
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 4%;
  border: 1px solid #CCC;
  width: 100%;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #707070;
  margin: 85px 15px 85px 0;
}

.width {
  width: 50%;
}

#submit1 {
  width: 136px;
  height: 46px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2ede9), to(#ded8d3));
  background: linear-gradient(#f2ede9 0%, #ded8d3 100%);
  border: 1px solid #707070;
  border-radius: 3px;
  margin-right: 30px;
  font-size: 1.6rem;
}

header {
  width: 100%;
  height: 217px;
  background: #fff7ef;
}

.header__title {
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bg {
  height: 524px;
  background-image: url(images/header.png);
  background-size: cover;
  background-position: right;
}

.header__bg-title {
  padding: 240px 0 240px 86px;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.main__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.takeout {
  background-image: url(images/section1@2x.png);
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em;
}

.takeout__title {
  color: white;
  font-size: 80px;
  font-family: Roboto;
  position: relative;
  display: block;
}

.takeout__title::before {
  content: "";
  width: 63px;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -10px;
  left: 5px;
}

.takeout__flexcolmun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

.takeout__subtitle {
  background-color: #FFFFFF;
  opacity: 0.8;
  overflow: hidden;
  margin: 1em;
  padding: 2%;
  height: 20vh;
}

.takeout__subtitle-1 {
  font-size: 24px;
  padding-bottom: 2%;
}

.eatin {
  height: 100vh;
  background-position: center;
  background-image: url(images/section2@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em;
}

.eatin__title {
  color: white;
  font-size: 80px;
  font-family: Roboto;
  position: relative;
}

.eatin__title::before {
  content: "";
  width: 63px;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -10px;
  left: 5px;
}

.eatin__flexcolmun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eatin__subtitle {
  background-color: #FFFFFF;
  opacity: 0.8;
  overflow: hidden;
  margin: 1em;
  height: 20vh;
  padding: 2%;
}

.eatin__subtitle-1 {
  font-size: 24px;
  padding-bottom: 2%;
}

.map {
  background-image: url(images/google_map.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 74vh;
  background-color: #707070;
  padding-right: 40%;
  color: white;
}

.map__bg {
  padding: 119px 134px 40px 119px;
  width: 66%;
  height: 100%;
}

.map__pc {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 11%;
  height: 78vh;
}

.map__detail2 {
  line-height: 2.06;
  font-size: 1rem;
  overflow: hidden;
}

.map__tema {
  padding-bottom: 127px;
  position: relative;
  font-size: 30px;
}

.map__tema::before {
  content: "";
  width: 63px;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 2em;
}

.map__detail {
  line-height: 2.06;
  font-size: 1rem;
  overflow: hidden;
}

.map__color {
  line-height: 2.06;
  font-size: 16px;
  padding: 0 10px 0 10px;
}

.footer {
  background-color: #9D8670;
  color: white;
  position: relative;
  z-index: 4;
  height: 150px;
}

.footer__tema {
  font-size: 20px;
  padding: 40px 0;
}

.footer__center {
  text-align: center;
}

.footer__small {
  padding-bottom: 30px;
  font-size: 14px;
}

.side-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  background-color: #F2EDE9;
  width: calc(100% - 70%);
  margin-right: 0;
}

.side-menu__tema {
  font-size: 2rem;
  font-family: Roboto;
  color: #707070;
}

.side-menu__under {
  /*  フォントサイズ0になっているので指定する */
  /* 以下、装飾 */
  padding: 0 24px 23px 66px;
  color: #707070;
  list-style: none;
}

.side-menu--list {
  margin: 90px 0 45px 40px;
  padding: 0;
  color: #707070;
  font-weight: bold;
}

.side-menu--list2 {
  margin-top: 40px;
}

.side-menu__tema {
  padding: 82px 0 0 46px;
}

.side-menu__icon {
  display: none;
}

.position {
  width: calc(100% - 30%);
}

@media (max-width: 834px) {
  header {
    height: 217px;
  }
  .width {
    width: 100%;
  }
  .position {
    width: 100%;
  }
  .header__title {
    display: block;
  }
  .hamburger {
    text-align: center;
    padding: 40px 0 38px 0;
  }
  #keywords1 {
    margin: 0 20px;
  }
  #searchform1 {
    text-align: center;
  }
  .header__form {
    margin: 0 auto;
    width: 70%;
  }
  .menu-drower {
    display: block;
    position: absolute;
    right: 26px;
    top: 18px;
    color: #707070;
    font-family: Roboto;
    font-size: 34px;
    cursor: pointer;
  }
  .header__bg {
    height: 285px;
  }
  .header__bg-title {
    padding: 125px 0 126px 85px;
  }
  .takeout {
    position: relative;
  }
  .takeout__subtitle {
    position: relative;
    overflow: hidden;
  }
  .eatin {
    position: relative;
  }
  .eatin__subtitle {
    position: relative;
    overflow: hidden;
  }
  .map {
    height: 36em;
    background-color: #000000;
    padding-right: 0;
  }
  .map__pc {
    background-color: transparent;
    padding: 4%;
  }
  .map__bg {
    width: 100%;
    padding: 46px 0 0 42px;
  }
  .map__tema::before {
    content: "";
    width: 63px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 130%;
  }
  .map__tema {
    padding-bottom: 0;
  }
  .map__detail {
    padding-top: 45px;
    padding-bottom: 0;
    width: 100%;
  }
  .map__detail--flex {
    padding: 0;
    margin: 0;
    line-height: 2.06;
    font-size: 16px;
  }
  .slide-target {
    display: block;
    position: absolute;
    top: 18px;
    right: 26px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: #707070;
  }
  .fas {
    zoom: 4;
  }
  .side-menu {
    top: 0;
    right: -284px;
    z-index: 10;
    width: 34%;
  }
  .side-menu__icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 18px;
    cursor: pointer;
  }
  body.open::before {
    /* 透過した黒を上から重ねるイメージ */
    background-color: gray;
    /* 自由に位置指定 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    z-index: 5;
    position: fixed;
    overflow: hidden;
  }
}

@media (max-width: 375px) {
  .header__form {
    margin: 0 auto;
    width: 90%;
  }
  .header__bg {
    width: auto;
    height: 285px;
  }
  .header__bg-title {
    padding-left: 40px;
  }
  .main__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .takeout__subtitle-1 {
    font-size: 2.5rem;
  }
  .takeout__detail {
    font-size: 2rem;
  }
  .eatin__subtitle-1 {
    font-size: 2.5rem;
  }
  .eatin__detail {
    font-size: 2rem;
  }
  .map {
    color: white;
    height: auto;
  }
  .map__tema::before {
    content: "";
    width: 63px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 100%;
  }
  .map__black {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
  }
  .map__detail {
    padding: 2%;
    width: 80%;
  }
  .map__tema {
    padding: 2%;
  }
  .map__detail2 {
    padding: 0 2% 2% 2%;
    width: 80%;
  }
  .map__pc {
    padding: 0;
  }
  .side-menu.open {
    display: block;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
    width: 80%;
  }
}
/*# sourceMappingURL=style copy.css.map */